# Thanks Michael: https://info.michael-simons.eu/2018/06/25/use-different-git-usernames-and-emails-for-work-and-play/
[includeIf "gitdir:~/Work/"]
  path = .gitconfig-work
[includeIf "gitdir:~/Personal/"]
  path = .gitconfig-play
[includeIf "gitdir:~/"]
  path = .gitconfig-play

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    syntax-theme = TwoDark

[pull]
	rebase = true
